{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>marzi</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    </head>

    <body>
        <nav>
        
            <div class="wrapper">
              <div class="logo"><a href="#">Logo</a></div>
              <input type="radio" name="slider" id="menu-btn">
              <input type="radio" name="slider" id="close-btn">
              <ul class="nav-links">
                <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                <li><a href="{% url 'post_list' %}">Home</a></li>
                <li><a href="#">About</a></li>
                <li>
                  <a href="{% url 'post_draft_list' %}">Drafts</a>
                </li>
                <li> {% if user.is_authenticated %}
                  <a href="{% url 'post_new' %}" class="add-post">
                    {% include './icons/file-earmark-plus.svg' %}
                </a>
                </li>
                
                {% endif %}
                
               
              </ul>
              
            </div>
          </nav>
     <div class="container">
        {% block content %}
        {% endblock %}
    </div>
   
    
       
    </body>
</html>