{% extends 'blog/base.html' %}

{% block content %}
    <article class="blog-post">
        {% if user.is_authenticated %}
        <aside class="actions">
            <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
              {% include './icons/pencil-fill.svg' %}
            </a>
        </aside>
        {% endif %}
        <div class="tags">
            {% for tag in post.tags.all %}
            <span class="tag" style = "background-color : {{ tag.color_label }}; color : white">
                <a style="color: white;" href="{% url 'tag' tag.id %}">{{ tag }}</a>
             </span>
            {% endfor %}
          </div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <br>
        <h5>writed by: {{ post.author }}</h5>
        {% if post.publish_date %}
            <time>
                {{ post.publish_date }}
            </time>
        {% else %}
        <br>
        <span class="tag tag-blue"> <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a></span>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="tag tag-red">Delete</span></a>
        
    </article>
    <hr>
    <div class="comment-section">
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
   {% for comment in post.comments.all %}
    
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
           {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
                   {% include './icons/patch-minus-fll.svg' %}
                </a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">
                   {% include './icons/hand-thumbs-up.svg' %}
                </a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    
{% empty %}
    <p>No comments here yet :(</p>
</div>
{% endfor %}
{% endblock %}